services:
  nginx:
    container_name: nginx
    image: nginx:latest
    ports: ['3000:80']
    volumes:
      - ./Nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - svc-web-ui
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:latest
    ports: ['5672:5672']
  redis:
    container_name: redis
    image: redis:latest
    ports: ['6379:6379']
  svc-user:
    container_name: user-service
    build: ./User
    env_file: .env
    environment:
      - AUTH_HOST=svc-auth
    ports: ['4001:4001']
    depends_on:
      svc-auth:
        condition: service_started
  svc-auth:
    container_name: auth-service
    build: ./Auth
    env_file: .env
    ports: ['5001:5001']
  svc-question:
    container_name: question-service
    build: ./Question
    env_file: .env
    environment:
      - AUTH_HOST=svc-auth
    ports: ['6001:6001']
    depends_on:
      - svc-auth
  svc-match:
    container_name: match-service
    build: ./Match
    env_file: .env
    environment:
      - RABBITMQ_HOST=rabbitmq
      - AUTH_HOST=svc-auth
    ports: ['7001:7001']
    depends_on:
      rabbitmq:
        condition: service_started
      svc-auth:
        condition: service_started
  svc-collab:
    container_name: collab-service
    build: ./Collaboration
    env_file: .env
    ports: ['8001:8001']
    depends_on:
      redis:
        condition: service_started
    links:
      - redis
    environment:
      - REDIS_HOST=redis
  svc-history:
    container_name: history-service
    build: ./History
    env_file: .env
    environment:
      - AUTH_HOST=svc-auth
      - QUESTION_HOST=svc-question
    ports: ['9001:9001']
    depends_on:
      - svc-auth
      - svc-question
  svc-execution:
    container_name: execution-service
    build: ./Execution
    env_file: .env
    ports: ['10001:10001']
    depends_on:
     - svc-auth
     - svc-match
  svc-web-ui:
    container_name: web-ui
    build: ./frontend
    env_file: .env
    depends_on:
      - svc-user
      - svc-auth
      - svc-question
      - svc-match
      - svc-collab
      - svc-history
      - svc-execution
