.react-tagsinput--focused {
  border-color: #86b7fe;
  box-shadow: 0 0 2px 3px rgba(194,219,254,255);
}

.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  border-radius: 5px;
}
