.code-editor {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.editor-container {
  flex-grow: 1;
  overflow-y: scroll;
}