.landing {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.body {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
}