.background {
  background-image: url('../images/background.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 85%;
  position: relative;
  min-height: 100vh;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box; 
}

/* Apply width: 100%; to all direct children of .landing except those listed */
.landing > *:not(.parent):not(.heatmap) {
  width: 100%; 
}
