.MuiDataGrid-root .MuiDataGrid-cell {
    border-color: transparent !important;
}

.MuiDataGrid-root .MuiDataGrid-colCell {
    border-color: transparent !important;
}

.MuiDataGrid-root .MuiDataGrid-row {
    border-color: transparent !important;
}

h2 {
    color: #fff;
}

.leftSpacer {
    margin-left: 50px;
}