.MuiDataGrid-root .MuiDataGrid-cell {
  border-color: transparent !important;
}

.MuiDataGrid-root .MuiDataGrid-colCell {
  border-color: transparent !important;
}

.MuiDataGrid-root .MuiDataGrid-row {
  border-color: transparent !important;
}

.leftSpacer {
  margin-left: 50px;
}

h2 {
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  color: #fff;
}